In [31]:
#Question:1
#Importing statistics library
import statistics
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# Sorts age list in ascending order by default
ages.sort()
print ("Sorted ages are:", ages) # Displays sorted values
# Minimum age
# we used min() method
print ("Minimum is ", min(ages))
# Maximum age
# we used max() method
print ("Maximum is", max(ages))
#we use append() method to insert values to the list
ages.append(min(ages))
ages.append(max(ages))
print ("Added min and max values again:",ages) 
# Median statistics library caluclates the statastical values 
mdn_age = statistics.median(ages)
print ("Median is", mdn_age)
# Average age
average= sum(ages)/len(ages)
print ("Avg is ", average)
# Range
range=max(ages)-min(ages)
print ("Range is ", range)

Sorted ages are: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum is  19
Maximum is 26
Added min and max values again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median is 24.0
Avg is  22.75
Range is  7

In [10]:
#Question:2
# Dog dictionary creation
dog = {'name':'Sony','color':'white','breed':'Chubby','legs':'4','age':'23'}
print ("Dog Dictionary Created:",dog)
# Student dictionary creation
student ={'first_name':'Bobby','last_name':'Ram','Gender':'Male','age':'22','marital_status':'single','skills':'singer','Country':'India','City':'Hyderabad','Address':'1247'}
print ("Student Dictionary Created:",student)
#Skills dictionary creation
skills = {'dancer':'1','singer':'2','coder':'3'}
print ("Skills Dictionary Created:",skills)
# Find the length of student dictionary
print ("Length of student:", len(student))
# Check the datatype of skills
print ("Datatype fo skills:",type(skills))
# Get values of skills dictionary
print ("Values of skills:",skills.values())
# Add one item to skills
skills['artist'] = 4
print ("New skill added:",skills)
# Get dog and student key and values
print ("Dog keys:",dog.keys())
print("Dog values:",dog.values())
print("Student keys:",student.keys())
print ("Student values:",student.values())

Dog Dictionary Created: {'name': 'Sony', 'color': 'white', 'breed': 'Chubby', 'legs': '4', 'age': '23'}
Student Dictionary Created: {'first_name': 'Bobby', 'last_name': 'Ram', 'Gender': 'Male', 'age': '22', 'marital_status': 'single', 'skills': 'singer', 'Country': 'India', 'City': 'Hyderabad', 'Address': '1247'}
Skills Dictionary Created: {'dancer': '1', 'singer': '2', 'coder': '3'}
Length of student: 9
Datatype fo skills: <class 'dict'>
Values of skills: dict_values(['1', '2', '3'])
New skill added: {'dancer': '1', 'singer': '2', 'coder': '3', 'artist': 4}
Dog keys: dict_keys(['name', 'color', 'breed', 'legs', 'age'])
Dog values: dict_values(['Sony', 'white', 'Chubby', '4', '23'])
Student keys: dict_keys(['first_name', 'last_name', 'Gender', 'age', 'marital_status', 'skills', 'Country', 'City', 'Address'])
Student values: dict_values(['Bobby', 'Ram', 'Male', '22', 'single', 'singer', 'India', 'Hyderabad', '1247'])

In [11]:
#Question:3)Create tuple of sisters and brothers
my_sisters = ('Sindhuja', 'Bhargavi','Hannu','Nishivika')
my_brothers = ('Abhiram','Bannu','Tanoj','Junnu')
# Create another tuple as siblings and join the sister’s and brother’s tuple
siblings = my_sisters + my_brothers
# Displays siblings’ output and length of siblings
print("Siblings:", siblings)
print("Length of Siblings:", len(siblings))
# Create another tuple as family_members and add father and mother name to it
family_members = siblings + ('Mahesh','Namratha')
# Displays family_members output
print("Family_members:",family_members)

Siblings: ('Sindhuja', 'Bhargavi', 'Hannu', 'Nishivika', 'Abhiram', 'Bannu', 'Tanoj', 'Junnu')
Length of Siblings: 8
Family_members: ('Sindhuja', 'Bhargavi', 'Hannu', 'Nishivika', 'Abhiram', 'Bannu', 'Tanoj', 'Junnu', 'Mahesh', 'Namratha')

In [13]:
#Question:4 Length of the set
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print("Length of it_companies:", len(it_companies))
#Add twitter
it_companies.add('Twitter')
print("After adding another item:",it_companies)
#Add multiple it_companies
it_companies.update({'Infosys','Capgemini','Wipro','TCS'})
print("After adding multiple items:",it_companies)
#Remove
it_companies.remove('TCS')
print("After removing one company:",it_companies)
#Discard
it_companies.discard('TCS')
#Discard doesn't raise any error if any item is not present in the set
#Join A & B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print("Join A and B:", A.union(B))
#Intersection
print("Intersection of A and B:", A.intersection(B))
#Subset
print("Subset of A and B:", A.issubset(B))
#Disjoint
print("Disjoint:", A.isdisjoint(B))
#Convert list to set
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Converting list to set:", set(age))
#Length of set
print("Length of set:",len(set(age)))
#Length of list
print("Length of list:",len(age))
#Symmetric diff- returns values which are not in common with other set
print("Symmetric diff:",A.symmetric_difference(B))
#delete set
A.clear()
print(A)
B.clear()
print(B)

Length of it_companies: 7
After adding another item: {'Oracle', 'Amazon', 'Apple', 'IBM', 'Twitter', 'Google', 'Facebook', 'Microsoft'}
After adding multiple items: {'Oracle', 'Wipro', 'Amazon', 'Apple', 'Infosys', 'IBM', 'TCS', 'Twitter', 'Capgemini', 'Google', 'Facebook', 'Microsoft'}
After removing one company: {'Oracle', 'Wipro', 'Amazon', 'Apple', 'Infosys', 'IBM', 'Twitter', 'Capgemini', 'Google', 'Facebook', 'Microsoft'}
Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Subset of A and B: True
Disjoint: False
Converting list to set: {19, 22, 24, 25, 26}
Length of set: 5
Length of list: 8
Symmetric diff: {27, 28}
set()
set()

In [17]:
#Question:5: Area and circumference of a circle
# Radius value is expected to be entered as input from the user 
radius = int(input("enter radius of the circle:"))
# Calculate area of circle and circumference of circle
area_of_circle = 3.14*radius*radius
circum_of_circle = 2*3.14*radius
# Display area of circle and circumference of circle
print("Area of Circle is:",area_of_circle)
print("Circumference of Circle is:",circum_of_circle)

enter radius of the circle:11
Area of Circle is: 379.94
Circumference of Circle is: 69.08

In [20]:
#Question:6 Finding unique words using split and set methods
Sentence = "I am a teacher and I love to inspire and teach people"
# Use split method to separate the words and set to get the unique values
word=set(Sentence.split(" "))
print("The words used int he sentence are:",word)
print ("The number of unique words used in the sentence are: ",len(word))

The words used int he sentence are: {'inspire', 'am', 'teacher', 'I', 'to', 'teach', 'a', 'love', 'people', 'and'}
The number of unique words used in the sentence are:  10

In [22]:
#Question:7: Usage of  the \t tab  escape sequence 
Bio_Data= "Name\t Age\tCountry\tCity\t\nAsabeneh 250\tFinland\tHelsinki"
#\t is used for tab and \n is used for new line 
print(Bio_Data)

Name	 Age	Country	City
Asabeneh 250	Finland	Helsinki

In [27]:
#Question:8
#Use the string formatting method to display the following:
radius=10
print('radius = 10')
area=3.14*radius**2
print('area = 3.14*radius**2')
print('"The area of circle with radius {0} is {1} meters square"'.format(radius,area))

radius = 10
area = 3.14*radius**2
"The area of circle with radius 10 is 314.0 meters square"

In [30]:
#Question9:Write a program, which reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop. N: No of students (Read input from user)

#Creating a list(L1) for weights(lbs) of N students
Weight_LB=[int(num) for num in input().split(" ")]
#Creating another list called W_kg
Weight_kg=[]
#Using for loop to iterate the values and appending the list
for i in Weight_LB:
  Weight_kg.append(round(i/2.205,2))
#Displaying the values in kgs after conversion
print ("Weight in KGs  are:",Weight_kg)

150 155 145 158
Weight in KGs  are: [68.03, 70.29, 65.76, 71.66]