In [ ]:
#1. Use a python code to display the following star pattern using the for loop
N=int(input("please enter the height: "))
for i in range(N):
  print(i*'*')
for j in reversed(range(N+1)):
  print(j*'*')
# reversed() function is used to iterate in reverse order so we have invoked range() inside reversed() function in python

please enter the height: 5

*
**
***
****
*****
****
***
**
*

In [ ]:
#2.Use looping to output the elements from a provided list present at odd indexes.
inp_list=list(map(int,input("enter the elements of list: ").split(" ")))
# we are using the 3rd parameter called "step" of range() funtion in python to  print odd charecters  
for i in range(1,len(inp_list),2):
  print(inp_list[i], end=" ")

enter the elements of list: 11 22 33 44 55 66 77 88 99
22 44 66 88

In [ ]:
#3.Write a code that appends the type of elements from a given list.
#inp_list=list(input("enter the elements of list: ").split(" "))
inp_list=["USA",12, 33.23,'s',True]
print(inp_list)
data_type_list=[]
# we are using the function type() in python to implement the solution which gives data types of elements 
for i in range(len(inp_list)):
  data_type_list.append(type(inp_list[i]))
print(data_type_list)

['USA', 12, 33.23, 's', True]
[<class 'str'>, <class 'int'>, <class 'float'>, <class 'str'>, <class 'bool'>]

In [ ]:
#4.Write a function that takes a list and returns a new list with unique items of the first list.
inp_list=list(map(int,input("enter the elements of list: ").split(" ")))
unique_list=[]
for i in inp_list:
  if i not in unique_list:
    unique_list.append(i)
  else:
    pass
#in the above for loop we have iterated through the list and we have verified if that particular element is present in the unique_list or not 
print("The unique elements from the list are:",end=" ")
print(unique_list)

enter the elements of list: 11 22 23 23 33 33 44 55 65 65 77 87 87 98
The unique elements from the list are: [11, 22, 23, 33, 44, 55, 65, 77, 87, 98]

In [ ]:
#5.Write a function that accepts a string and calculate the number of upper-case letters and lower-case letters.
inp_string=input("enter the string:")
#creating the function to count no of lower and upper case charecters below 
def U_L_case_count(s):  
  uc=0
  lc=0
  for i in s:
    if i.isupper():
      uc=uc+1
      # we have sued islower function to track no of lower case charecters 
    elif i.islower():
      lc=lc+1
      # we have sued islower function to track no of lower case charecters 
    else:
      pass
  print("No of upper case charecters:",uc)
  print("No of lower case charecters:",lc)
U_L_case_count(inp_string)

enter the string:The Man in the middle MonKey As a Donkey
No of upper case charecters: 6
No of lower case charecters: 26